<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field columns">
    <%= form.text_field t(:name), class:"right inline", id:"right-label", placeholder:"Add your name"  %>
  </div>

  <div class="field columns">
    <%= form.text_field t(:email), class:"right inline", id:"right-label", placeholder:"Type your emial" %>
  </div>

  <div class="field columns">
    <%= form.text_field t(:subject), class:"right inline", id:"right-label", placeholder:"What is the subject" %>
  </div>

  <div class="field columns">
    <%= form.text_area t(:message), class:"right inline", id:"right-label", placeholder:"write a message" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit"%>
  </div>
<% end %>
