<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field columns">
    <%= form.label t(:name) %>
    <%= form.text_field :name, class:"right inline", id:"right-label", placeholder:t("user_label_placeholder" ) %>
  </div>

  <div class="field columns">
    <%= form.text_field :email, class:"right inline", id:"right-label", placeholder:t("email_label_placeholder") %>
  </div>

  <div class="field columns">
    <%= form.text_field :subject, class:"right inline", id:"right-label", placeholder:t("subject_label_placeholder") %>
  </div>

  <div class="field columns">
    <%= form.text_area :message, class:"right inline", id:"right-label", placeholder:t("message_label_placeholder") %>
  </div>

  <div class="actions">
    <%= form.submit t("submit")%>
  </div>
<% end %>
