<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("name") %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= t("email") %>:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong><%= t("subject") %>:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong><%= t("message") %>:</strong>
  <%= @contact.message %>
</p>

<%= link_to t('back'), admin_contacts_path, class: "button secondary" %>
